.form-title{
  color: @red;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  width: 250px;
  margin: 0 auto;
  text-transform: uppercase;
  &--travel{
    margin-bottom: 39px;
  }
  &--date{
    margin-bottom: 40px;
  }
  &--achievements{
    margin-bottom: 43px;
  }
  &--photo{
    margin-bottom: 33px;
  }
}