.form-introduce{
  padding: 0 20px;
  padding-top: 45px;
  padding-bottom: 24px;
  &__title{
    width: 290px;
    margin: 0 auto;
    line-height: @line-30;
    color: @blue;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 37px;
    &-description{
      display: none;
    }
  }
}