.form-photos-wrap{
  padding: 0 20px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 147px;
    left: 22px;
    width: 87%;
    height: 2px;
    background-color: @border-e5;
  }
}

@media(min-width: @mobile){
  .form-photos-wrap{
    padding: 0 60px;
    &:before{
      width: 81%;
      top: 107px;
      left: 58px;
    }
  }
}