.send-form{
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  background-color: #2aab6d;
  width: 280px;
  padding: 19px 0;
  font-size: @font-18;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 40px;
  &:hover{
    background-color: darken(#2aab6d, 5%);
  }
  &:active{
    color: rgba(255, 255, 255, 0.3);
  }
}

@media(min-width: @mobile){
  .send-form{
    margin: 0;
    float: left;
    width: 300px;
  }
}